.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

body {
    background: #343a40;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-item {
    cursor: pointer;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
}